@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "CircularStd", system-ui, -apple-system, sans-serif;
  background-color: #000000;
  color: white;
}
@font-face {
  font-family: "CircularStd";
  src: url("../public/fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url("../public/fonts/CircularStd-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url("../public/fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: none;
}
@font-face {
  font-family: "CircularStd";
  src: url("../public/fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Personaliza la barra de desplazamiento horizontal */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccd2db;
  border-radius: 6px;
}

/* Personaliza la barra de desplazamiento vertical */
::-webkit-scrollbar-vertical {
  width: 7px;
  height: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #7c7c7c;
  border-radius: 8px;
}

/* Cambia la apariencia de la barra de desplazamiento en Firefox */
/* Esto es necesario para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #f1f1f1;
}
